<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Document</title>
        <link rel="stylesheet" href="/css/edit.css">
    </head>
    <body>
        <h1>Edit Book Information</h1>
        <nav class="edit1">
        <form action="/books/<%=book.id%>?_method=PUT" method="POST">
            Title: <input type="text" name="title" value="<%=book.title%>"/><br/>
            ISBN: <input type="text" name="isbn" value="<%=book.isbn%>"/><br/>
            Publisher: <input type="text" name="publisher" value="<%=book.publisher%>"/><br/>
            Country: <input type="text" name="country" value="<%=book.country%>"/><br/>
            Image: <input type="text" name="image" value="<%=book.img%>"/><br/><br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
        </nav>
    </body>
</html>